<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
    <title>Voice of Cricket</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Globals -->
    <script type='text/javascript'>


      function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false);
      }

      function onDeviceReady() {
        // Device is ready
        console.log("Device ready");
      }

      var isAndroid = /Android|\bSilk\b/.test( navigator.userAgent );
      var isiOS = /iP(ad|hone|od)/.test( navigator.userAgent );
      var isWinApp = /MSAppHost/.test( navigator.userAgent );
      var isWinPhoneApp = /Windows Phone/.test( navigator.userAgent );

      var talkState = "stopped";
      var lastFetchedMatch = "";
      var accentSelected = "en-GB";
      var matchIdSelected = 0; // we need to store this between fetches

      // Timer last fetch
      //
      var timer;
      var lastFetchTime = 0;

/*
      if (isAndroid || isOS || isWinApp ) {
        var customLocale = {};
        customLocale.title = "Rate %@";
        customLocale.message = "Love the Voice of Cricket? Then rate it! Many thanks for your support";
        customLocale.cancelButtonLabel = "No, Thanks";
        customLocale.laterButtonLabel = "Remind Me Later";
        customLocale.rateButtonLabel = "Rate It Now";

        AppRate.preferences.appName = "Voice of Cricket";
        AppRate.preferences.customLocale = customLocale;
        AppRate.preferences.usesUntilPrompt = 1;
        AppRate.preferences.promptAgainForEachNewVersion = true;
        AppRate.preferences.storeAppURL.ios = '1020598694';
        AppRate.preferences.storeAppURL.android = 'market://details?id=com.ionicframework.voiceofcricketionic875888';
        //AppRate.preferences.storeAppURL.windows8 = 'ms-windows-store:Review?name=<the Package Family Name of the application>';
      }
*/
    </script>

    <!-- windows compatibility -->
    <script type="text/javascript" src="js/winstore-jscompat.js"></script>

    <!-- speech synthesis -->
    <script type="text/javascript" src="lib/speech-synthesis/polyfill.min.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    <!-- timer -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.timer.js"></script>

</head>
<!--<body ng-app="voiceOfCricket" ng-controller="MatchesController" class="platform-windows platform-cordova platform-webview">-->
<body ng-app="voiceOfCricket" onload="onLoad()">

    <ion-side-menus>

        <!-- Center content -->
        <ion-side-menu-content>
            <ion-header-bar class="sidebar">
                <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
                <div class="title center">Voice of Cricket</div>
            </ion-header-bar>
            <ion-content class="background">
                <div class="input-label">
                    &nbsp;
                </div>

                <div class="center" ng-controller="MatchController">
                    <select data-tap-disabled="true" class="picker" ng-model="selection" name="selectedMatch" ng-change="change()" ng-options="match.id as (match.t1 + ' vs ' + match.t2) for match in matches"></select>
                    <div class="score-text">{{currentScore}}</div>
                </div>
            </ion-content>

            <ion-footer-bar class="no-line">
                <!--<div class="center" ng-controller="voiceController">-->
                <button class="center image-wrapper" ng-click="toggleButton()" ng-controller="voiceController">
                    <img id="talk-button" src="img/StartButton.png" border="0">
                </button>
                <!--</div>-->
            </ion-footer-bar>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left" class="sidebar">
            <ion-header-bar class="sidebar-item">
                <h2 class="title center">Options</h2>
            </ion-header-bar>
            <ion-content>
                <div ng-controller="updateIntervalController">
                    <div class="sidebar-item">
                        Update frequency:
                    </div>
                    <div class="item range sidebar">
                        30secs
                        <input id="repeat-fader" type="range" step="data.step" name="repeat-time" ng-model="data.updateInterval" min="30" max="600" ng-change="formatInterval()">
                        10mins
                    </div>
                    <div class="siderbar-item center">
                        {{data.formattedInterval}}
                    </div>
                </div>
                <div class="sidebar-item" ng-controller="accentController">
                    Choose Accent:
                    <select data-tap-disabled="true" class="sidebar-picker" ng-model="data.accent" ng-change="changeAccent()">
                        <option>Australian</option>
                        <option>American</option>
                        <option selected>English</option>
                        <option>South African</option>
                    </select>
                </div>

                <div class="sidebar-item">
                    Voice of Cricket by <a href="http://www.xyglo.com" target="_blank">Xyglo BV</a>.  API provided by CricScore:  http://cricscore-api.appspot.com
                </div>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>
</body>
</html>
