<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Voice of Cricket</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Globals -->
    <script type='text/javascript'> 

      function onLoad() {
        document.addEventListener("deviceready", onDeviceReady, false);
      }

      function onDeviceReady() {
        // Device is ready
        console.log("Device ready");
      }

      var isAndroid = /Android|\bSilk\b/.test( navigator.userAgent );
      var isiOS = /iP(ad|hone|od)/.test( navigator.userAgent );
      var isWinApp = /MSAppHost/.test( navigator.userAgent );
      var talkState = "stopped"; 
      var lastFetchedMatch = ""; 
      var accentSelected = "en-GB"; 
    </script>

    <!-- windows compatibility -->
    <script type="text/javascript" src="js/winstore-jscompat.js"></script>

    <!-- speech synthesis -->
    <script type="text/javascript" src="lib/speech-synthesis/polyfill.min.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!--<script src="lib/ionic/js/angular/angular-resource.min.js"></script>-->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!--<script src="js/services.js"></script>-->
    <script src="js/controllers.js"></script>

  </head>
  <!--<body ng-app="voiceOfCricket" ng-controller="MatchesController">-->
  <body ng-app="voiceOfCricket" onload="onLoad()">

  <ion-side-menus>

    <!-- Center content -->
    <ion-side-menu-content>
      <ion-header-bar class="sidebar">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <div class="title center">Voice of Cricket</div>
      </ion-header-bar>
      <ion-content class="background">
        <div class="input-label">
          &nbsp;
        </div>

        <div class="center" ng-controller="MatchController">
          <select class="picker" ng-model="selection" name="selectedMatch" ng-change="change()" ng-options="match.id as (match.t1 + ' vs ' + match.t2) for match in matches">
          </select>
          </br>
          <div class="score-text">{{currentScore}}</div>
        </div>
      </ion-content>

      <ion-footer-bar>
        <div class="image-wrapper center">
        <button class="image-wrapper" ontouchend="toggleButton()" onclick="toggleButton()">
          <img id="talk-button" src="img/StartButton.png">
        </button>
        </div>
      </ion-footer-bar>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="sidebar">
      <ion-header-bar class="sidebar-item">
        <h2 class="title">Options</h2>
      </ion-header-bar>
      <ion-content>
            <div ng-controller="updateIntervalController">
            <div class="sidebar-item">
            Update frequency:</br>
            </div>
            <div class="item range sidebar">
              <!--<label for="repeat-fader">Update frequency</label>-->
              30secs
              <input id="repeat-fader" type="range" name="repeat-time" ng-model="data.updateInterval" min={{data.minRange}} max={{data.maxRange}} ng-change="formatInterval()">
              10mins
              <!--<output for="repeat-fader" id=volume>50</output>-->
            </div>
            <div class="siderbar-item center">
            {{data.formattedInterval}}
            </div>
            </div>
            <br/>
            <br/>
            <div class="sidebar-item" ng-controller="accentController">
              Choose Accent:</br>
              <select class="sidebar-picker" ng-model="data.accent" ng-change="changeAccent()">
                <option>Australian</option>
                <option>American</option>
                <option selected>English</option>
                <option>South African</option>
              </select>
            </div>

            <br/>
            <br/>
            <div class="sidebar-item">
            Voice of Cricket by <a href="http://www.xyglo.com" target="_blank">Xyglo BV</a>.  API provided by CricScore:  http://cricscore-api.appspot.com
            </div>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>

  <script>
  function toggleButton() {
    if ( talkState == "stopped" ) {

      document.getElementById("talk-button").src="img/StopButton.png";
      talkState = "started";

      // If we have a match to talk about
      //
      if (window.lastFetchedMatch != "") {
        // To use polyfill directly call
        // var fallbackSpeechSynthesis = window.speechSynthesisPolyfill;
        // var fallbackSpeechSynthesisUtterance = window.SpeechSynthesisUtterancePolyfill;

        if (isAndroid || isiOS || isWinApp) {

/*
          console.log("Android speech");

          navigator.tts.startup(startupWin, fail);
          function startupWin(result) {
              console.log("Startup win");
              // When result is equal to STARTED we are ready to play
              console.log("Result "+result);
              //TTS.STARTED==2 use this once so is answered
              if (result == 2) {
                  navigator.tts.getLanguage(win, fail);
              }
          }                               

          function win(result) {
            console.log(result);
          }
      
          function fail(result) {
            console.log("Error = " + result);
          }

          
          navigator.tts.speak(window.lastFetchedMatch);
*/
          TTS.speak({
            text: window.lastFetchedMatch,
            locale: window.accentSelected,
            rate: 1.0
          }, function () {
             console.log('Speaking on Android');
          }, function (reason) {
             console.log('Failed to speak on Android');
          });

        // Else we try native synthesis platform agnostic
        //
        } else if ('speechSynthesis' in window && window.nativeSpeechSynthesisSupport() == true) {
          var msg = new SpeechSynthesisUtterance();
          msg.lang = window.accentSelected;
          msg.volume = 1.0;
          msg.rate = 1.0;
          msg.text = window.lastFetchedMatch;
          msg.onend = function(event) { console.log('Finished in ' + event.elapsedTime + ' seconds.'); };
          speechSynthesis.speak(msg);

          console.log("Native speech");

        } else { // Fallback scenario is to use the API

            var fallbackSpeechSynthesis = window.getSpeechSynthesis();
            var fallbackSpeechSynthesisUtterance = window.getSpeechSynthesisUtterance();
            var u = new fallbackSpeechSynthesisUtterance(window.lastFetchedMatch);
            u.lang = window.accentSelected;
            u.volume = 1.0;
            u.rate = 1.0;
            u.onend = function(event) { console.log('Finished in ' + event.elapsedTime + ' seconds.'); };
            fallbackSpeechSynthesis.speak(u);
  
            console.log("Fallback speech");
        }
      }
    } else {
  
      document.getElementById("talk-button").src="img/StartButton.png";
      talkState = "stopped";

      var fallbackSpeechSynthesis = window.getSpeechSynthesis();
      fallbackSpeechSynthesis.cancel();
  
    }
  }

  // On selection change
  //
  function matchSelected(key) {
    console("matchSelected = " + key);
  }

  </script>


  </body>
</html>
